body{background-color: #0e76a8;
	min-height: 100vh;}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
    min-width:   100%;
    background: #158fca;
    padding: 5px;
    position: fixed;
  }
.menu {	margin: 0 auto;
		width: 1200px;
		}
.menu ul {margin: 0;
		padding: 60px 0px ;
		list-style: none;
		text-align: right;}
.menu ul li {float: none; 
			display:inline-block; }

.menu ul li:nth-child(1){float: left;}
.menu ul li:nth-child(2){float: left;}
.menu ul li:nth-child(3){float: left;}
.menu ul li a { color: #ffffff; 
				font size: 20px;
				text-transform:uppercase;
				text-decoration: none;
				padding: 10px 20px;
				display:block;
				 }
.menu ul li a:hover {color:black;}

}
.container{width: 100%;
			position: relative;}
.logo{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 40%;
	top: 0;
	margin: -50px;
	padding: 56px 20px;
}
.Signup-section{
	width: 1200px;
	height: 500px;
	position: absolute;
	top: 80%;
	left:50%;
	transform: translate(-50%, -50%);
	display: flex;
	/* position: fixed; */
}
.singup-form{}

.left{width: 100%
		height:100%;
		background-size: 100%,100%;

		}
.right{
		width: 60%;
		height: 120%;
		background-size: 100%,100%;
		background-color: #158fca;
		padding: 0 50px;
		left: 0;
		}

.left p {font-size: 30px;
		text-transform: uppercase;
		color: white;
		text-align: center;
		text-shadow: 10px;
		font-weight: bold;

	}
.singup-box{ width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
   	}

.singup-box h1{ color: white; 
				font-size: 20px;}
.singup-form{padding: 5px 40px;}
.singup-form form {
					padding: 20px;
					width: 100%;
					text-align: left;
					box-shadow: 8px 2px 18px -1px #0e76a8;
					background-color: #f9fdff;
}
.singup-form form label {}
.singup-form form input {width: 100%;
						padding: 10px 25px;
						box-sizing: border-box;
						font-size: 16px;
						margin-bottom: 15px;
						border: 2px solid whitesmoke;
						}
.singup-form form input[type="submit"] {
										background-color: #0e76a8;
										color: white;
										margin-top: 10px;
										}
.singup-form p {color: red;}
.singup-form form p {text-align: center;
					 color: #848484;
					 font-weight: 20;
					 margin-bottom: 10px;
					}
.singup-form form a {}
